<h1>Startup steps</h1>
<ol>
  <li>Create a new project at <a
    href="https://console.cloud.google.com/projectcreate?previousPage=%2Fapis%2Fcredentials%2Fconsent%3Fproject%3Dpeppy-ridge-384306&organizationId=0">https://console.cloud.google.com/projectcreate?previousPage=%2Fapis%2Fcredentials%2Fconsent%3Fproject%3Dpeppy-ridge-384306&organizationId=0</a>
  </li>
  <li>Enable services for Google Calendar and Task: <a
    href="https://console.cloud.google.com/welcome?project=peppy-ridge-384306">https://console.cloud.google.com/welcome?project=peppy-ridge-384306</a>
  </li>
  <li>Setup OAuth screen: <a
    href="https://console.cloud.google.com/apis/credentials/consent?project=peppy-ridge-384306">https://console.cloud.google.com/apis/credentials/consent?project=peppy-ridge-384306</a>.
    Ensure to add following scopes:
    <ul>
      <li>.../auth/calendar</li>
      <li>.../auth/calendar.events</li>
      <li>.../auth/tasks</li>
      <li>.../auth/tasks.readonly</li>
    </ul>
  </li>
  <li>Create OAuth 2.0 Client ID: <a
    href="https://console.cloud.google.com/apis/credentials?project=peppy-ridge-384306">https://console.cloud.google.com/apis/credentials?project=peppy-ridge-384306</a>.
    Ensure to add Authorized redirect URIs
  </li>
</ol>
<h1>OAuth2:</h1>
<ul>
  <li><a href="https://developers.google.com/identity/protocols/oauth2">https://developers.google.com/identity/protocols/oauth2</a>
  </li>
  <li><a href="https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth">https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth</a>
  </li>
</ul>
<h1>Task:</h1>
<p>Note: Currently the due date only records date information; the time portion of the timestamp is discarded when
  setting the due date. It isn't possible to read or write the time that a task is due via the API. <a
    href="https://stackoverflow.com/questions/66744979/google-tasks-doesnt-set-time-only-date">https://stackoverflow.com/questions/66744979/google-tasks-doesnt-set-time-only-date</a>
</p>
<h1>Reminder:</h1>
<p>Note: Google is not giving support to reminders:</p>
<ul>
  <li><a href="https://issuetracker.google.com/issues/200967541#comment2">https://issuetracker.google.com/issues/200967541#comment2</a>
  </li>
  <li><a href="https://issuetracker.google.com/issues/36760283">https://issuetracker.google.com/issues/36760283</a></li>
</ul>

