<div class="calendar">
  <h2>Create Event</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="eventForm" autocomplete="off">
    <label>Title</label>
    <input autocomplete="off" formControlName="title" type="text">

    <label>Description</label>
    <textarea autocomplete="off" formControlName="description"></textarea>

    <label>Start Date and Time</label>
    <input autocomplete="off" formControlName="start" type="datetime-local">

    <label>End Date and Time</label>
    <input autocomplete="off" formControlName="end" type="datetime-local">

    <label>Location</label>
    <input autocomplete="off" formControlName="location" type="text">

    <div class="checkbox-group">
      <label>
        <input formControlName="recurring" type="checkbox">Recurring
      </label>

      <div *ngIf="eventForm.get('recurring')?.value">
        <label style="display: inline-block; margin-right: 1rem;"><input formControlName="recurringOption" type="radio"
                                                                         value="daily">Daily</label>
        <label style="display: inline-block; margin-right: 1rem;"><input formControlName="recurringOption" type="radio"
                                                                         value="weekly">Weekly</label>
        <label style="display: inline-block; margin-right: 1rem;"><input formControlName="recurringOption" type="radio"
                                                                         value="monthly">Monthly</label>
        <label style="display: inline-block;"><input formControlName="recurringOption" type="radio" value="yearly">Yearly</label>
        <label>Until</label>
        <input formControlName="until" name="until" type="datetime-local">
      </div>
    </div>
    <button type="submit">Create Event</button>
  </form>
</div>
